:root {
  --circle-height: 65vh;
  --circle-width: 55vh;
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.circle {
  background: black;
  width: var(--circle-width);
  height: var(--circle-height);
  padding: 3px;
  position: relative;
  border-radius: 99px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.circle:hover {
  color: rgb(90 200 290 / 100%);
  transition: color 1s;
}
.circle:hover:before,
.circle:hover:after {
  animation: none;
  opacity: 0;
}

.circle::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 80px;
  background-image: linear-gradient(var(--rotate), purple, red 43%, white);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  filter: blur(calc(var(--circle-height) / 6));
}

.circle::after {
  position: absolute;
  content: "";
  top: calc(var(--circle-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--circle-height) / 6));
  background-image: linear-gradient(var(--rotate), purple, red 43%, yellow);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
